# ================================
# Ticketmaster Discovery API
# Crie uma conta em: https://developer.ticketmaster.com
# e gere sua chave em: https://developer-acct.ticketmaster.com/user/login
# ================================
TICKETMASTER_API_KEY=SUA_CHAVE_AQUI
